<div>
    <div>
        <label for="email">Podaj swój e-mail</label>
        <input type="text" class="form-control" id="email"/>
    </div>
    <div>
        <label for="password">Podaj nowe hasło</label>
        <input type="password" class="form-control" id="password"/>
    </div>
    <div>
        <label for="repeat">Powtórz nowe hasło</label>
        <input type="password" class="form-control" id="repeat"/>
    </div>
    <input type="button" class="btn btn-primary" value="Wyślij" ng-click="resetPassword()"/>
</div>
